<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>YXE! — Coleções</title>

  
  <nav class="navbar">
    <div class="container nav-inner">
      <div class="brand">
        <div class="logo-mark">YXE!</div>
        WE GON CHANGE THE WORLD
      </div>

      <div class="nav-links">
        <a href="/novidades">Novidades</a>
        <a href="/colecoes">Coleções</a>
        <a href="/drops">Drops</a>
        <a href="/contato">Contato</a>
      </div>
    </div>
  </nav>



<link rel="stylesheet"/>
    <link rel ="stylesheet" href="static/a.css"/>